* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #1d1c1c;
}

.header {
  padding: 30px;
  background-color: #eee;
  line-height: 3rem;
}

.header span {
  font-size: 2rem;
}

.header h1 {
  font-size: 3rem;
}

.gallery {
  padding: 30px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.gallery__item {
  display: block;
  width: 375px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.gallery__item:hover {
  color: darkred;
}

.gallery_img {
  display: block;
  width: 100%;
  border-radius: 20px;
  transition: transform 0.4s;
}

.gallery_img:hover {
  transform: scale(0.9);
}

.gallery_desc {
  padding: 10px;
  font-size: 1.2rem;
}